<!doctype html>
<html lang='{{ .Site.LanguageCode }}'>
  {{- partial "head.html" . -}}
  <body>
    <main>
      {{- partial "menu.html" . -}}
      {{- partial "header.html" . -}}
      <article>
        {{- block "main" . }}{{- end }}
      </article>
      {{ partial "nextprev.html" . }}
    </main>
    {{- partial "footer.html" . -}}
    {{ if .IsHome }}
      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
    {{ end }}
  </body>
</html>
