<menu>
  {{- partial "breadcrumb.html" . -}}
  <div class='actions'>
    {{ $path := "" }}
    {{ with .File }}{{ $path = .Path }}{{ end }}
    <a>
      <img src='/icons/adjust-solid.svg' onclick='switchTheme(localStorage.getItem("theme") == "dark" ? "light" : "dark")' title='dark theme'>
    </a>
    <a onClick='window.print()'>
      <img src='/icons/print-solid.svg' title='print'>
    </a>
    <a href='http://prose.io/#algorithmica-org/algorithmica/edit/master/content/{{$path}}'>
      <img src='/icons/edit-solid.svg' title='edit'>
    </a>
    <a href='{{.Site.Params.Repo}}/blob/master/content/{{$path}}' class='github-main'>
      <img src='/icons/github-brands.svg' title='view on github'>
    </a>
  </div>
</menu>
