<div class='nextprev'>
  {{ if not .IsHome }}
    {{ $pages := .Parent.Pages }}
    {{ range where .Parent.Translations "Lang" "en" }}
      {{ $pages = $pages | lang.Merge .Pages }}
    {{ end }}
    {{ $self := .}}
    {{ $selfIdx := -1 }}
    {{ range $idx, $page := $pages }}
      {{ if eq $page $self }}
        {{ $selfIdx = $idx }}
      {{ end }}
    {{ end }}
    {{ with index $pages (add $selfIdx -1) }}
      <a href='{{.Permalink}}' style='float: left'>← {{ .Title }}</a>
    {{ end }}
    {{ if .IsSection }}
      {{ with index .Pages 0 }}
        <a href='{{.Permalink}}' style='float: right'>{{ .Title }} →</a><br>
      {{ end }}
    {{ end }}
    {{ $self := . }}
    {{ with index $pages (add $selfIdx 1) }}
      <a href='{{.Permalink}}' style='float: right'>{{ if $self.IsSection }}../{{ end }}{{ .Title }} →</a>
    {{ end }}
  {{ end }}
</div>
