$borders: 1px solid #292929
  
body
  background: #121212
  color: #ddd

h1, h2, h3, h4, h5, h6
  color: #ccc

a
  color: #0099D0

.division section
  a
    color: #33AAE0 !important

  ul a
    color: #0099D0 !important

pre, code
  background-color: #222 !important

pre
  border: $borders

blockquote
  color: #999
  margin: 0
  padding-left: 1em
  border-left: 0.5em #333 solid

footer
  color: #999

img
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%)